@import './reset.scss';

html {
  background-color: transparent !important;

  font-size: 14px;
}

body {
  overflow: hidden;

  word-break: break-all;

  color: var(--color-text-1);

  font: 1rem/1;
}

.bordered {
  border: 1px solid var(--color-border);
}

.bordered-transparent {
  border: 1px solid transparent;
}

.bordered-top {
  border-top: 1px solid var(--color-border);
}

.bordered-right {
  border-right: 1px solid var(--color-border);
}

.bordered-bottom {
  border-bottom: 1px solid var(--color-border);
}

.bordered-left {
  border-left: 1px solid var(--color-border);
}

.frosted {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background-color: inherit;

    -webkit-filter: blur(24px);
    filter: blur(24px);
  }
}

.mark {
  color: rgb(var(--arcoblue-6));
  background-color: transparent;
}

.arco-popover-content {
  margin-top: 0;
}
